@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(var(--translate-percentage, -33.333%));
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  width: fit-content;
}

.looper__innerList[data-animate="true"] {
  animation: slideAnimation linear infinite;
}

.looper__listInstance {
  display: flex;
  width: max-content;
  flex-shrink: 0;
}
